.all-coins {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.625rem;
  padding: 20px;
}

.icons {
  width: 50px;
  height: 50px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  padding: 15px;
  color: white;
  gap: 5px;
  text-decoration: none;
}

.info-right {
  width: 18.75rem;
  border: 2px solid gray;
  padding: 0.625rem;
  color: white;
}

.info-left {
  width: 18.75rem;
  border: 2px solid gray;
  padding: 0.625rem;
  color: white;
}

.all-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.25rem;
}

.info {
  display: flex;
  gap: 7%;
}

.header-info {
  background-color: rgb(12, 106, 208);
  color: white;
  width: 60%;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
  margin-top: 16px;
}

.arrow {
  background-color: white;
  height: 1.875rem;
  margin: 15px;
  color: rgb(40, 94, 156);
  border-radius: 30%;
}

.drop {
  display: flex;
  justify-content: flex-end;
  margin: 24px;
}

@media screen and (max-width: 760px) {
  .info {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
  }

  .all-coins {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.625rem;
    width: 90%;
    padding: 20px;
  }
}
